/.vscode/
/__pycache__/*
/.ipynb_checkpoints/*
/.idea
/venv
.DS_Store
projects/.DS_Store
projects/validation impact momentum/.DS_Store
projects/.DS_Store
projects/validation impact momentum/.DS_Store
{{cookiecutter.project_name}}/.DS_Store
